* {
  margin: 0;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; // 62.5% = 10px
}

header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px;
  margin-top: 32px;
}

.logo {
  display: flex;
  gap: 12px;
}

.ellipse {
  width: 40px;
  height: 40px;
  background-color: #ffb44c;
  border-radius: 50%;
  padding-left: 12.49px;
  display: flex;
  gap: 24.44px;
}

.img_logo {
  width: 15.07px;
  height: 51.85px;
}

.text_logo {
  width: 119px;
  height: 36px;
  left: 172px;
  top: 40px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffb44c;
}

.menu {
  width: 430px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.menus {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}

.menus1 {
  font-weight: 600;
  color: #ffb44c;
}

.button_header {
  margin: 0px;
}

main {
  padding: 64px 120px;
}

.container_texts_top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

h1 {
  width: 521px;
  height: 144px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;

  letter-spacing: 0.5px;
  text-transform: capitalize;

  color: #121212;
}

h3 {
  width: 373px;
  height: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;

  color: #888888;
}

.h3_top {
  width: 517px;
  height: 96px;
  text-align: left;
}

.container_blocks {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding-top: 40px;
}

.rectangle1 {
  width: 373px;
  height: 242px;
  background: #d9d9d9;
  border-radius: 4px;
  margin-bottom: 24px;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 16px;

  color: #121212;
}

button {
  width: 153px;
  height: 52px;
  border-color: #ffb44c;
  color: #ffffff;

  background: #ffb44c;
  border-radius: 4px;
  margin: 0 110px;
}

.block2 {
  width: 373px;
  height: 526px;
  margin-left: 40px;
}

.rectangle2 {
  width: 373px;
  height: 526px;
  background: #d9d9d9;
  border-radius: 4px;
  padding-top: 158px;
}

.h2_2 {
  color: #ffffff;
}

.h3_block2 {
  color: #ffffff;
}

.block3 {
  margin-left: 40px;
}

.rectangle3 {
  width: 374px;
  height: 242px;
  background: #d9d9d9;
  border-radius: 4px;
  margin-bottom: 24px;
}

.h3_block3 {
  width: 325px;
  height: 96px;
  margin-left: 24px;
}

/* deixar tudo centralizado com bordas adaptaveis usando margin: 0 auto e trocar
todos os widhts por 1200px (usar a main)*/

/* Retirar das divs os textos da parte superior, usar display flex, align items space between,
e classes para cada h1 etc. */
