* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --orange: #ffb44c;
  --pink: #ff43bf0b;
  --grey: #888888;
  --black: #121212;
  --lightgrey: #d9d9d9;
  --white: #ffffff;
}

header {
  width: 100%;
  max-width: 1440px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;
  background: var(--pink);
}

.logo {
  display: flex;
  gap: 1.2rem;
}

.ellipse {
  width: 40px;
  height: 40px;
  background: var(--orange);
  border-radius: 50%;
  padding-left: 1.249rem;
  display: flex;
  gap: 2.444rem;
}

.img_logo {
  width: 15.07px;
  height: 51.85px;
}

.text_logo {
  width: 119px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--orange);
}

.menu {
  width: 430px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.menus {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--grey);
}

.menus1 {
  font-weight: 600;
  color: var(--orange);
}

.button_header {
  margin: 0;
}

main {
  padding: 6.4rem 12rem;
}

.container_texts_top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

h1 {
  width: 521px;
  height: 144px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 7.2rem;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: var(--black);
}

h3 {
  width: 373px;
  height: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
  margin-bottom: 2.4rem;

  color: var(--grey);
}

.h3_top {
  width: 517px;
  height: 96px;
  text-align: left;
}

.container_blocks {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding-top: 4rem;
}

.rectangle1 {
  width: 373px;
  height: 242px;
  background: var(--lightgrey);
  border-radius: 4px;
  margin-bottom: 2.4rem;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1.6rem;
  color: #121212;
}

button {
  width: 153px;
  height: 52px;
  border-color: var(--orange);
  color: var(--white);

  background: var(--orange);
  border-radius: 4px;
  margin: 0 11rem;
}

.block2 {
  width: 373px;
  height: 526px;
  margin-left: 4rem;
}

.rectangle2 {
  width: 373px;
  height: 526px;
  background: var(--lightgrey);
  border-radius: 4px;
  padding-top: 15, 8rem;
}

.h2_2 {
  color: var(--white);
}

.h3_block2 {
  color: var(--white);
}

.block3 {
  margin-left: 4rem;
}

.rectangle3 {
  width: 374px;
  height: 242px;
  background: var(--lightgrey);
  border-radius: 4px;
  margin-bottom: 2.4rem;
}

.h3_block3 {
  width: 325px;
  height: 96px;
  margin-left: 2.4rem;
}

footer {
  width: 100%;
  max-width: 1440px;
  height: 165px;
  padding: 2rem 12rem;
  align-items: center;
  background: var(--pink);
}

ul {
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--grey);
}

.menu_footer {
  display: flex;
  justify-content: space-between;
}

/* pq os botoes ficaram com sombra nas configuracoes de base? (diferente de como ta no figma)
Como faz pra retirar? */

/* um unico arquivo css para todas as paginas html? */

/* deixar tudo centralizado com bordas adaptaveis usando margin: 0 auto e trocar
todos os widhts por 1200px (usar a main)*/

/* Retirar das divs os textos da parte superior, usar display flex, align items space between */
